:root {
  --skyTop: #1ED2FF;
  --skyMidTop: #14BEFF;
  --skyMidBottom: #23ABFF;
  --skyBottom: #23ABFF;
  --ground: #9aff70; 
  /* // #9AFF17 TOO NEON? */
  --roof: #333;
  --houseFront: #C33;
  --houseSide: #A01700;
  --crescent: #F7F211;
  --celestialBody: #F7F211;
  --celestialBody-glow: #FFE216;
  --cloud: #A8A8A8;
  --thunder: #2DFFF4;
  --snowroof: white;
  --bigCloud: #A8A8A8;
  --stars: #F9FED1;
  --snow: white;
  --rain: #E0E0E0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: hotpink;
}

#messageBox,
.frameBox {
  width: 75%;
  min-height: 200px;
  background-color: white;
  border: 20px solid brown;
  padding: 20px;
  margin: 0 auto;
  color: black;
  font-family: Georgia;
  font-size: 20px;
}

#frame {
  background-color: brown;
  width: 360px;
  height: 360px;
  padding: 20px;
  margin: 30px auto;
}

#window {
  position: relative;
  width: 320px;
  height: 320px;
  background-color: white;
}


.skyTop {
  fill: var(--skyTop);
}
.skyMidTop {
  fill: var(--skyMidTop);
}
.skyMidBottom {
  fill: var(--skyMidBottom);
}
.skyBottom {
  fill: var(--skyBottom);
  /* animation: oranging 18s infinite alternate ease-in-out; */
}
.ground {
  fill: var(--ground);
}
.roof {
  fill: var(--roof);
}

.houseFront {
  fill: var(--houseFront);
}

.houseSide {
  fill: var(--houseSide);
}

.crescent {
  fill: var(--crescent);
}

.celestialBody {
  fill: var(--celestialBody);
}
.cloud {
  /* fill: var(--cloud); */
}

.thunder {
  /* fill: var(--thunder); */
}

.snowroof {
  /* fill: var(--snowroof); */
}
.bigCloud {
  /* fill: var(--bigCloud); */
}
.stars {
  /* fill: var(--stars); */
}
.snow {
  /* fill: var(--snow); */
}

.rainGroup1 {
  /* animation: 10s rainGroup1 3s infinite ease-in-out; */
  /* fill: var(--rain); */
}
.rainGroup2 {
  /* animation: 10s rainGroup2 3s infinite ease-in-out; */
  /* fill: var(--rain); */
}

.testWindowFrame {
  width: 140px;
  padding: 20px;
  height: 140px;
  background-color: brown;
}

#testWindow {
  width: 100px;
  height: 100px;
  background-color: white;
}

.C10 {
  /* animation: rain 10s infinite alternate ease-in-out; */
}
.red {
  fill: red;
}
@keyframes twinkle {
  20% {
    fill: white;
  }
  30% {
    fill: yellow;
  }
  40% {
    fill: white;
  }
}
@keyframes oranging {
  50% {
    fill: orange;
  }
  60% {
    fill: pink;
  }
  70% {
    fill: white;
  }
  80% {
    fill: purple;
  }
}
@keyframes rainGroup1 {
  10% {
    fill: gray;
  }
  32% {
  
  }
}
@keyframes rainGroup2 {
  60% {
    fill: gray;
  }
  62% {
    
  }
}

