* {
  box-sizing: border-box;
}

body {
  background-color: hotpink;
}

#frame {
  background-color: brown;
  width: 360px;
  height: 360px;
  padding: 20px;
  margin: 100px auto;
}

#window {
  position: relative;
  width: 320px;
  height: 320px;
  background-color: white;
}

.skyTop {
  fill: darkblue;
}
.skyMidTop {
  fill: pink;
}
.skyMidBottom {
  fill: green;
}
.skyBottom {
  fill: purple;
  animation: oranging 1.8s infinite alternate ease-in-out;;
}
.ground {
  fill: black;
}
#roof {
  fill: brown;
}

#houseFront {
  fill: white;
}

#houseSide {
  fill: gray
}

#crescent {
  fill: yellow;
}

#celestialBody {
fill: orange;
}

#testWindowFrame {
  width: 140px;
  padding: 20px;
  height: 140px;
  background-color: brown;
}

#testWindow {
  width: 100px;
  height: 100px;
  background-color: white;
}

@keyframes oranging {
  50% {
    fill: orange;
  }
  60% {
    fill: pink;
  }
  70% {
    fill: white;
  }
  80% {
    fill: purple;
  }
}
